.dateBox{
    width: 180px;
    margin-left: 40px;
    height: 90px;
    text-align: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    border-radius: 5px;
    background: linear-gradient(#09C6F9, #045DE9);
    filter: brightness(1.1);
}