.name{
    color : white;
}

.name:active{
    color: black;
}

.image:active{
    outline: 1px solid black;
}

.cross{
    margin-left:"0px";
    z-index: 100;
    user-select: none;
}

.cross:hover{
    cursor: pointer;
}
